h1 {
  text-align: center;
}

.intro {
  font-style: italic;
  text-align: center;
}

.post-planet {
  color: purple;
  background-color: black;
}

.post-nebula {
  color: white;
  background-color: red;
}
.cool {
  color: blue;
  background-color: cornsilk;
}
.about {
  font-style: italic;
  font-family: serif;
}

span.important {
  font-weight: bold;
}
